body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(images/bgimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

input[type="text"]{
    background-color: white;
    font-size: 40px;
    width: 330px;
    height: 120px;
    border-radius: 10px;
}

input[type="button"]{
    background-color: #344678;
    font-size: 40px;
    color: #9cc6ff;
    height: 80px;
    width: 80px;
    border-radius: 10px;
}

#btn0{
    width: 167px;
}

#calculator {
    padding: 20px;
    background-color: #2c2b53;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: #484685;
}

#calculator div {
    margin-bottom: 5px;
    
}